<form action="/add" method="POST">
    <p>Titulo: </p>
    <input type="text" name="title">
    <p>Conteudo: </p>
    <textarea name="content" ></textarea>
    <button type="submit">Send</button>
</form>